<div class="article" id="<%= @article._id %>">
	<h1 id="title">
		<%= @article.title %>
	</h1>
	<div id="text">
		<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML,
		 								:autolink => true, :space_after_headers => true) %>
		<%= markdown.render(@article.text) %>
	</div>
	<div id="urls">
		<a href="/edit/<%= @article._id %>">edit article</a>
		<% if !@article.deleted %>
			<a href="/delete/<%= @article._id %>">delete article</a>
		<% end %>
		<% if @article.deleted %>
			<a href="/undelete/<%= @article._id %>">undo deletion</a>
		<% end %>
		<a href="/destroy/<%= @article._id %>">destroy article</a>
	</div>
</div>