<div class="article" id="<%= @article._id %>">
	<h1 class="title">
		<%= @article.title %>
	</h1>
	<div class="text">
		<%= markdown(@article.text) %>
	</div>

	<div class="actions">
		<%= link_to "edit article", "/edit/#{@article._id}", :class => 'button' %>
		<%= link_to "destroy article", "/destroy/#{@article._id}", :class => 'button red' %>
	</div>
	
	<!--
	<h2>versions</h2>
	<ul class="versions">
		<% @article.versions.each do |version| %>
			<%= render 'article/version.erb', :version => version %>
		<% end %>
	</ul>
	-->
	
</div>